* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: #1a0a41;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#container #texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container #title,
#container .small-p {
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#container .small-p {
    font-size: 2rem;
    font-weight: 400;
}

#container #container-generate {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.container-names {
    width: 20rem;
    height: 5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    border-radius: 2px;
}

#container #nomes {
    font-size: 1.5rem;
    color: #2a2a2a;
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
    font-weight: 500;
}

#generator-button,
#automatic-button,
#like-name,
#stop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 20rem;
    background: #00b341;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 2px;
    gap: 0.5rem;
    color: #fff;
}

#generator-button:hover,
#automatic-button:hover {
    background: #0a963d;
    transition: 300ms ease;
}

#like-name {
    background: #216788;
    display: none;
}

#like-name:hover {
    background: #125e81;
    transition: 300ms ease;
}

#stop {
    background: #d63b3b;
    display: none;
}

#stop:hover {
    background: #af2c2c;
    transition: 300ms ease;
}

@media (max-width: 1000px) {

    #container-generate {
        display: flex;
        flex-direction: column;
    }

    #generator-button, 
    #automatic-button,
    #like-name,
    #stop,
    .container-names {
        max-width: 600px;
        width: 100%;
    }

    #generator-button {
        margin-top: 1rem;
    }

    #like-name {
        padding-left: 3.8rem;
    }

    #stop {
        padding-left: 2rem;
    }

    #title, .small-p {
        font-size: 2rem;
        text-align: center;
    }
}

@keyframes load {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading {
    display: none;
}